<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SheetsWebAppURL</key>
    <string>https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec</string>
    <key>SheetsToken</key>
    <string>YOUR_SECRET_TOKEN</string>
</dict>
</plist>
